{% extends 'referral/base.html' %}
{% load staticfiles%}

{% block content %}

<form method="post" action="/referral_system/referralSaveExistingForm/" id="referral-form"  data-abide novalidate>
	<input type="hidden" name="form_type" value="existing_form" />
	
	<!-- Add "display: none" right away -->
    <div data-abide-error class="alert callout" style="display: none;">
    	<p><i class="fa fa-exclamation-triangle" aria-hidden="true"></i> There are some errors in your form.</p>
  	</div>
	
	<h5>1) Referral ID</h5>
	<div class="callout secondary">
    	<div class="row">
	    	<div class="large-6 columns">
	    		<label class="mandatory"> <span>Referral ID</span>
  					<input type="text" name="referral_id" value="" placeholder="M000001" maxlength="20" required>
  					<span class="form-error">The Referral ID field is required !</span>
				</label>
	    	</div>
	    </div>
	</div>
	
    <h5>2) Client information</h5>
    
    {% include 'referral/client_informations.html' %}
    
    
	
	<h5>3) Referred Services</h5>
	
	<div class="callout secondary">
	{% for itemService in allServices %}
		<div class="cb-service">				
    		<input type="checkbox" 
    			onclick="hideOrShowOtherServices()"
    			class="cb_services"
    			name="service[]" 
    			id="{{ itemService.service_name }}" value="{{ itemService.service_name }}" />
    		<label for="{{ itemService.service_name }}">{{ itemService.service_name }}</label>
    	</div>
	{% endfor %}
	<input 	type="text" id="service_other" name="service_other" 
			value="" placeholder="Tape here is other ... "
			style="display: none;" >
	</div>
	
	<h5>4) Select a Referral Health Facility</h5>
	
	 <div class="row">
	    <!--  
	 	<div class="large-4 columns res-col">
	      	<h5>Select Locality</h5>
	      	
	      	<div class="callout secondary">	
	      	<label>Province
        		<select id="province">
          			<option value="0">-- Select --</option>
          			{% for itemProvince in allProvinces %}
          				<option value="{{ itemProvince.province }}" onclick="loadDistrict('{{ itemProvince.province }}')">{{ itemProvince.province }} [{{ itemProvince.province_khmer }}]</option>
          			{% endfor %}
        		</select>
      		</label>
      		
			<label>District
        		<select id="district">
          			<option value="0">Select</option>
        		</select>
      		</label>	
      		
      		<label>Village
        		<select id="village">
          			<option value="">Select</option>
        		</select>
      		</label>
      		</div>
			
	    </div>
	    -->
	    <div class="large-12 columns res-col">
	    	<!--<h5>Find Facility</h5>-->
	    	<div class="callout secondary">
	    	<label>Health Facility
        		<select id="selected_facility" name="id_selected_facility" onchange="selectFacility()">
          			<option value="0">Select</option>
          			{% for facility in allFacilities %}
          				<option value="{{ facility.quest_20 }}" >{{ facility.quest_12 }}  [{{ facility.quest_19 }}]</option>
          			{% endfor %}
        		</select>
      		</label>
	    	</div>
	    	
	    	<h5>Selected Facility</h5>
	      	<div id="selected-facility-div"></div>
	      	
	    </div>
	      
	    
	    
	 </div>
    <br />
    <br />
    <div class="callout secondary">
    <div class="row">
	      <div class="large-6 columns">
	      		<label> Referral Date
  					<input type="text" name="referral_date" value="" id="referral-date"  required />
  					<span class="form-error">Select the Referral Date !</span>
				</label>
	      </div>
	      <div class="large-6 columns">
	      		<label> Expiry Date
  					<input type="text" name="expiry_date" value="" id="expiry-date"  required />
  					<span class="form-error">Select the Expiry Date !</span>
				</label>
	      </div>
	</div>
	
	<div class="row">
	      <div class="large-12 columns">
	      		<p>What language do you want to use in the referral SMS ?</p>
	      		<input type="radio" name="language_sms" value="khmer" id="lang-khmer" checked="checked"><label for="lang-khmer">Khmer</label>
	      		<input type="radio" name="language_sms" value="english" id="lang-english"><label for="lang-english">English</label>
	      </div>
	</div>
	</div>
	
	<div class="row">
	      <div class="large-12 columns">
	      		<a href="/referral_system/existing/" class="button alert radius">Cancel</a>
	      		<button type="button" class="button success round"  onclick="return validateForm();">Save</button>
	      </div>
	</div>
	
	

<script type="text/javascript">  
 
$(function(){
	 autoSetExpiryDate();
	 updateLocalityDistrict();
});
 
 function validateForm(){

	 if($("#selected_facility").val() == '0' || $("#selected_facility").val() == 0) { alert("Please select a suitable Health Facility !"); return false;}
	 if($("#occupation").val() == "1" && $("#garment").val() == "0") { alert("You must select your Garment Factory !"); return false;}
     if($("#occupation").val() !="1" && $("#adr_province option:selected").val() == "0") {
         alert("Please select at least a Province!");
         return false;
     }
     if ( $("[name='service[]']:checked").length ==0 ) {
         alert("Please select at least one Service.");
         return false;
     }
	 $("#referral-form").submit();
	 return true;
 }
</script>

<script src="{% static 'referral_system/js/referall.js' %}"></script>
<script src="{% static 'referral_system/js/existing_referral.js' %}"></script>
<script src="https://use.fontawesome.com/7beb934639.js"></script>

</form>
{% endblock %}
