{% extends 'referral/base.html' %}
{% load staticfiles%}

{% block content %}
    <h5>1) Client information</h5>
    
    <div class="callout secondary">
    <div class="row">
	      <div class="large-6 columns">	      
	      		<label>Sex
  					<select name="sex">
    					<option value="m">Male</option>
    					<option value="f">Female</option>
  					</select>
				</label>
				
				<label> Telephone
  					<input type="text" name="phone" value="">
				</label>

	      </div>
	      <div class="large-6 columns">
	      		<label> Age
  					<input type="text" name="age" value="">
				</label>
				
				<label> Occupation
  					<input type="text" name="phone" value="">
				</label>
				
				
				
	      </div>
	</div>
	
	<h6><u>Garment Factory</u></h6>
	<div class="row">
		<div class="large-2 columns">
			<label>Province
        		<select id="gf-province">
          			<option value="0">-- Select --</option>
          			{% for itemProvince in garmentProvinces %}
          				<option value="{{ itemProvince.province }}" onclick="loadGFDistrict('{{ itemProvince.province }}')">{{ itemProvince.province }}</option>
          			{% endfor %}
        		</select>
      		</label>
		</div>
		
		<div class="large-2 columns">
			<label>District
        		<select id="gf-district">
          			<option value="0">-- Select --</option>
        		</select>
      		</label>
      	</div>
      	
      	
		<div class="large-2 columns">
			<label>Village
        		<select id="gf-village">
          			<option value="0">-- Select --</option>
        		</select>
      		</label>
      	</div>
      	
      	
		<div class="large-4 columns">
			<label>Garment Factory
        		<select id="garment">
          			<option value="0">-- Select --</option>
        		</select>
      		</label>
      	</div>
      	
      	<div class="large-2 columns"><input type="hidden" name="gf-gps" id="gf-gps" /></div>
      	
	</div>
	
	<h6><u>Current address</u></h6>
	<div class="row">
	      <div class="large-2 columns">
	      		<label> Street
  					<input type="text" name="adr_street" id="adr_street" value="">
				</label>
	      </div>
	      
	      <div class="large-2 columns">
	      		<label> Village
  					<input type="text" name="adr_village" id="adr_village" value="">
				</label>
	      </div>
	      
	      <div class="large-2 columns">
	      		<label> Commune
  					<input type="text" name="adr_commune" id="adr_commune" value="">
				</label>
	      </div>	      
	      
	      <div class="large-2 columns">
	      		<label> District
  					<input type="text" name="adr_district" id="adr_district" value="">
				</label>
	      </div>
	      
	      <div class="large-2 columns">
	      		<label> Province
  					<input type="text" name="adr_province" id="adr_province" value="">
				</label>
	      </div>
	      
	      <div class="large-2 columns"></div>
	</div>
    </div>
    
    
	
	<h5>2) Referred Services</h5>
	
	<div class="callout secondary">
	{% for itemService in allServices %}
    <input type="checkbox" 
    		name="service[]" 
    		id="service-{{ itemService.id_services }}" value="{{ itemService.id_services }}" />
    <label for="service-{{ itemService.id_services }}">{{ itemService.service_name }}</label>
	{% endfor %}
	<input type="text" name="service-other" value="" placeholder="Tape here if other ... ">
	</div>
	
	<h5>3) Select a Referral Health Facility</h5>
	
	 <div class="row">
	 	<div class="large-4 columns res-col">
	      	<h5>Select Locality</h5>
	      	
	      	<div class="callout secondary">	
	      	<label>Province
        		<select id="province">
          			<option value="0">-- Select --</option>
          			{% for itemProvince in allProvinces %}
          				<option value="{{ itemProvince.province }}" onclick="loadDistrict('{{ itemProvince.province }}')">{{ itemProvince.province }}</option>
          			{% endfor %}
        		</select>
      		</label>
      		
			<label>District
        		<select id="district">
          			<option value="0">-- Select --</option>
        		</select>
      		</label>	
      		
      		<label>Village
        		<select id="village">
          			<option value="">Test</option>
        		</select>
      		</label>
      		</div>
			
	    </div>
	    <div class="large-4 columns res-col">
	    	<h5>Find Facility</h5>
	    	<div class="callout secondary">
	    	<label>Health Facility
        		<select id="selected_facility" name="selected_facility">
          			<option value="">Test</option>
        		</select>
      		</label>
	    	</div>
	      	
	    </div>
	      
	    <div class="large-4 columns">
	    	<h5>Selected Facility</h5>
	      	<div id="selected-facility-div"></div>
	    </div>
	    
	 </div>
    <br />
    <br />
    <div class="callout secondary">
    <div class="row">
	      <div class="large-6 columns">
	      		<label> Referral Date
  					<input type="text" name="referral-date" value="" id="referral-date"  />
				</label>
	      </div>
	      <div class="large-6 columns">
	      		<label> Expiry Date
  					<input type="text" name="expiry-date" value="" id="expiry-date"  />
				</label>
	      </div>
	</div>
	
	<div class="row">
	      <div class="large-12 columns">
	      		<p>What language do you want to use in the referral SMS ?</p>
	      		<input type="radio" name="language-sms" value="khmer" id="lang-khmer"><label for="lang-khmer">Khmer</label>
	      		<input type="radio" name="language-sms" value="english" id="lang-english" checked="checked"><label for="lang-english">English</label>
	      </div>
	</div>
	</div>
	
	<div class="row">
	      <div class="large-12 columns">
	      		<a href="#" class="button alert radius">Cancel</a>
	      		<button type="submit" class="button success round">Save</button>
	      </div>
	</div>
	
	
    
</div>

<script type="text/javascript">  
 
 $(function(){
	 autoSetExpiryDate();
 });
 
 
</script>

<script src="{% static 'referral_system/js/existing_referral.js' %}"></script>
<script src="{% static 'referral_system/js/garment_cascade_select.js' %}"></script>

{% endblock %}
