{% extends 'referral/base.html' %}
{% load staticfiles%}
{% load user_tags %}

{% block content %}
    {% if user|in_group:"Project Team," %}<h3>Reports</h3><br/>{% endif %}
<div class="callout success">
	<form method="post" action="/referral_system/viewReferral/">
	    <div class="row">
		      <div class="large-3 columns">
		      
		      		<label> Start Date
		      			
	  					<div class="input-group date" id="startDate"
	  						  style="max-width:200px;">
							
							  <span class="input-group-label prefix"><i class="fa fa-calendar"></i></span>
							  <input class="input-group-field" size="16" type="text" value="{{startDate}}" name="start_date" readonly/>

							
						</div>
					</label>
              </div>
              <div class="large-3 columns">
                    <label> End Date

	  					<div class="input-group date" id="endDate"
	  						  style="max-width:200px;">

							  <span class="input-group-label prefix"><i class="fa fa-calendar"></i></span>
							  <input class="input-group-field" size="16" type="text" value="{{endDate}}" name="end_date" readonly/>

						</div>
					</label>
			  </div>
		{% if user|in_group:"Project Team," %}
              <div class="large-6 columns">
        {% else %}
              <div class="large-3 columns">
        {% endif %}
					<label> Province
					   <select id="adr_province" name="adr_province" onchange="">
					   			<option value=''>--select--</option>
		          			{% for itemProvince in localityProvinces %}
		          				<option 
		          				{% if itemProvince.province = adr_province %}
		          					selected
		          				{% endif %}
		          				value="{{ itemProvince.province }}" 
		          				>{{ itemProvince.province }}  [{{ itemProvince.province_khmer }}]</option>
		          			{% endfor %}
		        	   </select>
					</label>
			  </div>
              {% if user|in_group:"Project Team," %}
              <div class="large-3 columns">&nbsp;</div>
              {% else %}
              <div class="large-3 columns">
					<label> Referred by
					  <select name="referrer">
					  	<option value=''>--select--</option>
                        {% for value,label in referrerList.items %}
                            <option {% ifequal value referrer %}selected{% endifequal %} value="{{ value }}" >{{ label }}</option>
                        {% endfor %}
		          			
		        	   </select>
					</label>
		      </div>
              {% endif %}
        </div>
        <div class="row">
        {% if user|in_group:"Project Team," %}

              <div class="large-3 columns">
                  <label>Referrer Type
                      <select name="referrer_type">
                          <option value=''>--Select--</option>
                          <option value="hotline_counselors" {% ifequal referrer_type  'hotline_counselors'%} selected {% endifequal %}>Hotline Counselors</option>
                          <option value="garment_factory" {% ifequal referrer_type  'garment_factory'%} selected {% endifequal %}>Garment Factory Infirmary</option>
                          <option value="hf" {% ifequal referrer_type  'hf'%} selected {% endifequal %}>Health Facility</option>
                          <option value="whc" {% ifequal referrer_type  'whc'%} selected {% endifequal %}>WorkerHealth Champions</option>
                      </select>
                  </label>
              </div>

              <div class="large-3 columns">
					<label> Referred by
					  <select name="referrer">
					  	<option value=''>--select--</option>
                        {% for value, label in referrerList.items %}
                            <option {% ifequal value referrer %}selected{% endifequal %} value="{{ value }}" >{{ label }}</option>
                        {% endfor %}

		        	   </select>
					</label>
		      </div>
        {% else %}
              <div class="large-6 columns">&nbsp;</div>
        {% endif %}



              <div class="large-3 columns">

			      <button type="submit" class="success button" style="margin-top: 25px;" name="action" value="export">XLS EXPORT</button>


			  </div>
		      
			  <div class="large-3 columns">
			  
			      <button type="submit" class="success button" style="margin-top: 25px;" name="action" value="filter">FILTER</button>

			  
			  </div>


		</div>
		
	</form>
</div>

<div class="row">
   	<div class="large-6 columns">
   	<div class="callout secondary">
   		<h3>Referrals</h3>
   		
   		<div id="chart-client" style="width:100%; height:400px;"></div>
   		<br /><br />
   		<div id="chart-client-table">
   			<table>
   				<tr>
   					<td style="text-align: right;">Status</td>
   					<td style="text-align: right;">Percentage</td>
   					<td style="text-align: right;">Referrals</td>
   				</tr>
   				{% for listTD in listObject %}
   				<tr>
   					{% for itemTD in listTD %}
   					<td style="text-align: right;"> {{itemTD}}</td>
   					{% endfor %}
   				</tr>
   				{% endfor %}
   				<tr>
                    <td style="text-align: right;">Total number of referrals</td>
   					<td style="text-align: right;" >{{ totalReferrals }}%</td>
   					<td style="text-align: right;">{{numberClients}}</td>
   				</tr>
   			</table>
   		</div>
   	</div>
   	</div>
   	<div class="large-6 columns">
   	<div class="callout secondary">
   		<h3>Services referred</h3>
   		<div id="chart-services" style="width:100%; height:400px;"></div>
   		<br /><br />
   		<div id="chart-services-table">
   			<table>
   				<tr>
   					<td style="text-align: right;">Services</td>
   					<td style="text-align: right;">Percentage</td>
   					<td style="text-align: right;">Number of services</td>
   				</tr>
   				{% for itemService in listObjectService %}
   				<tr>
   					{% for itemTD in itemService %}
   					<td style="text-align: right;"> {{itemTD}}</td>
   					{% endfor %}
   				</tr>
   				{% endfor %}
   				<tr>
                    <td style="text-align: right;">Total</td>
   					<td style="text-align: right;">{{ totalServices }}%</td>
   					<td style="text-align: right;">{{numberServices}}</td>
   				</tr>
   			</table>
   		</div>
   	</div>
   	</div>
</div>

<div class="row">
    <div class="large-6 columns">
        <div class="callout secondary">
            <h3>Services redeemed</h3>
            <div id="redeemed-services" style="width:100%; height:400px;"></div>
            <br /><br />
            <div id="chart-services-table">
                <table>
                    <tr>
                        <td style="text-align: right;">Services</td>
                        <td style="text-align: right;">Percentage</td>
                        <td style="text-align: right;">Number of services</td>
                    </tr>
                    {% for itemService in listRedeemed %}
                    <tr>
                        {% for itemTD in itemService %}
                        <td style="text-align: right;"> {{itemTD}}</td>
                        {% endfor %}
                    </tr>
                    {% endfor %}
                    <tr>
                        <td style="text-align: right;">Total</td>
                        <td style="text-align: right;">{{ totalRedeemed }}%</td>
                        <td style="text-align: right;">{{numberRedeemed}}</td>
                    </tr>
                </table>
            </div>
        </div>
   	</div>
</div>


<script src="http://code.highcharts.com/highcharts.js"></script>
<script src="https://code.highcharts.com/modules/exporting.js"></script>

<script src="https://code.highcharts.com/modules/data.js"></script>
<script src="https://code.highcharts.com/modules/drilldown.js"></script>
<script src="https://use.fontawesome.com/7beb934639.js"></script>
<script type="text/javascript">

var lData = [{{jsonData|safe}}] ;
var serviceData = [{{jsonService|safe}}] ;
var pieChartDataRedeemed = [{{ pieChartDataRedeemed|safe }}];

$(function () {
	
	    // Create the chart
	    $('#chart-client').highcharts({
	    	chart: {
	            plotBackgroundColor: null,
	            plotBorderWidth: null,
	            plotShadow: false,
	            type: 'pie'
	        },
	        title: {
	            text: 'Number of referrals'
	        },
	        subtitle: {
	            text: ''
	        },
	        plotOptions: {
	            series: {
	                dataLabels: {
	                    enabled: true,
	                    format: '{point.name}: {point.y:.1f}%'
	                }
	            },
	            pie: {
	                allowPointSelect: true,
	                cursor: 'pointer',
	                dataLabels: {
	                    enabled: true,
	                    format: '<b>{point.name}</b>: {point.percentage:.1f} %',
	                    style: {
	                        color: (Highcharts.theme && Highcharts.theme.contrastTextColor) || 'black'
	                    }
	                }
	            }
	        },

	        tooltip: {
	            headerFormat: '<span style="font-size:11px">{series.name}</span><br>',
	            pointFormat: '<span style="color:{point.color}">{point.name}</span>: <b>{point.y:.2f}%</b> of total<br/>'
	        },
	        series:
	       	[{
	            name: 'Status',
	            colorByPoint: true,
	            data: lData
	        }]
	    });
	
	
	
	// second
	$('#chart-services').highcharts({
        chart: {
            plotBackgroundColor: null,
            plotBorderWidth: null,
            plotShadow: false,
            type: 'pie'
        },
        title: {
            text: 'Services'
        },
        tooltip: {
            pointFormat: '{series.name}: <b>{point.percentage:.1f}%</b>'
        },
        plotOptions: {
            pie: {
                allowPointSelect: true,
                cursor: 'pointer',
                dataLabels: {
                    enabled: false,
                    format: '<b>{point.name}</b>: {point.percentage:.1f} %',
                    style: {
                        color: (Highcharts.theme && Highcharts.theme.contrastTextColor) || 'black'
                    }
                },
                showInLegend: false
                
            }
        },
        legend: {
        	layout: "vertical",
        	labelFormat: '<b>{name}</b>: {percentage:.1f} %'
        },
        series: [{
            name: 'Services',
            colorByPoint: true,
            data: serviceData
        }]
    });

    $('#redeemed-services').highcharts({
        chart: {
            plotBackgroundColor: null,
            plotBorderWidth: null,
            plotShadow: false,
            type: 'pie'
        },
        title: {
            text: 'Services'
        },
        tooltip: {
            pointFormat: '{series.name}: <b>{point.percentage:.1f}%</b>'
        },
        plotOptions: {
            pie: {
                allowPointSelect: true,
                cursor: 'pointer',
                dataLabels: {
                    enabled: false,
                    format: '<b>{point.name}</b>: {point.percentage:.1f} %',
                    style: {
                        color: (Highcharts.theme && Highcharts.theme.contrastTextColor) || 'black'
                    }
                },
                showInLegend: false

            }
        },
        legend: {
        	layout: "vertical",
        	labelFormat: '<b>{name}</b>: {percentage:.1f} %'
        },
        series: [{
            name: 'Services',
            colorByPoint: true,
            data: pieChartDataRedeemed
        }]
    });
    
	$('#startDate, #endDate').fdatepicker({
        format: 'yyyy-mm-dd',
        initialDate: $(this).val(),
        onRender: function (date) {
            
        }
    });
	
	
	
	 
});


</script>

{% endblock %}