{% extends 'referral/base.html' %}
{% load staticfiles%}

{% block content %}
<div class="callout success">
	<form method="post" action="/referral_system/viewReferral/">
	    <div class="row">
		      <div class="large-2 columns">
		      
		      		<label> Date period
		      			
	  					<div class="input-group date" id="dpMonths" 
	  						 data-date-format="yyyy-mm" data-start-view="year" 
	  						 data-min-view="year" style="max-width:200px;">
							
							  <span class="input-group-label prefix"><i class="fa fa-calendar"></i></span>
							  <input class="input-group-field" size="16" type="text" value="{{datePeriod}}" name="date_period" readonly>							  
							
						</div>
					</label>
			  </div>
			  <div class="large-4 columns">
					<label> Province
					   <select id="adr_province" name="adr_province" onchange="">
					   			<option value=''>--select--</option>
		          			{% for itemProvince in localityProvinces %}
		          				<option 
		          				{% if itemProvince.province = adr_province %}
		          					selected
		          				{% endif %}
		          				value="{{ itemProvince.province }}" 
		          				>{{ itemProvince.province }}  [{{ itemProvince.province_khmer }}]</option>
		          			{% endfor %}
		        	   </select>
					</label>
			  </div>
			  <div class="large-4 columns">
					<label> Referred by
					  <select id="id_referrer"  name="id_referrer" onchange="">
					  	<option value=''>--select--</option>
		          			{% for itemReferrer in listReferrers %}
		          				<option 
		          				{% if itemReferrer.id = id_ref %}
		          					selected
		          				{% endif %}
		          				value="{{ itemReferrer.id }}" 
		          				>{{ itemReferrer.first_name }}  {{ itemReferrer.last_name }}</option>
		          			{% endfor %}
		        	   </select>
					</label>
		      </div>
		      
			  <div class="large-2 columns">
			  
			  <button type="submit" class="success button" style="margin-top: 25px;">FILTER</button>
			  
			  </div>
		</div>
		
	</form>
</div>

<div class="row">
   	<div class="large-6 columns">
   	<div class="callout secondary">
   		<h3>Clients</h3>
   		
   		<div id="chart-client" style="width:100%; height:400px;"></div>
   		<br /><br />
   		<div id="chart-client-table">
   			<table>
   				<tr>
   					<td style="text-align: right;">Status</td>
   					<td style="text-align: right;">Percentage</td>
   					<td style="text-align: right;">Clients</td>
   				</tr>
   				{% for listTD in listObject %}
   				<tr>
   					{% for itemTD in listTD %}
   					<td style="text-align: right;"> {{itemTD}}</td>
   					{% endfor %}
   				</tr>
   				{% endfor %}
   				<tr>
   					<td colspan="2" style="text-align: right;">Total Clients</td>
   					<td style="text-align: right;">{{numberClients}}</td>
   				</tr>
   			</table>
   		</div>
   	</div>
   	</div>
   	<div class="large-6 columns">
   	<div class="callout secondary">
   		<h3>Services delivered</h3>
   		<div id="chart-services" style="width:100%; height:400px;"></div>
   		<br /><br />
   		<div id="chart-services-table">
   			<table>
   				<tr>
   					<td style="text-align: right;">Services</td>
   					<td style="text-align: right;">Percentage</td>
   					<td style="text-align: right;">Number of services</td>
   				</tr>
   				{% for itemService in listObjectService %}
   				<tr>
   					{% for itemTD in itemService %}
   					<td style="text-align: right;"> {{itemTD}}</td>
   					{% endfor %}
   				</tr>
   				{% endfor %}
   				<tr>
   					<td colspan="2" style="text-align: right;">Total Services</td>
   					<td style="text-align: right;">{{numberServices}}</td>
   				</tr>
   			</table>
   		</div>
   	</div>
   	</div>
</div>


<script src="http://code.highcharts.com/highcharts.js"></script>
<script src="https://code.highcharts.com/modules/exporting.js"></script>

<script src="https://code.highcharts.com/modules/data.js"></script>
<script src="https://code.highcharts.com/modules/drilldown.js"></script>
<script src="https://use.fontawesome.com/7beb934639.js"></script>
<script type="text/javascript">

var lData = [{{jsonData|safe}}] ;
var serviceData = [{{jsonService|safe}}] ;

$(function () {
	
	    // Create the chart
	    $('#chart-client').highcharts({
	    	chart: {
	            plotBackgroundColor: null,
	            plotBorderWidth: null,
	            plotShadow: false,
	            type: 'pie'
	        },
	        title: {
	            text: 'Number of clients per status'
	        },
	        subtitle: {
	            text: ''
	        },
	        plotOptions: {
	            series: {
	                dataLabels: {
	                    enabled: true,
	                    format: '{point.name}: {point.y:.1f}%'
	                }
	            },
	            pie: {
	                allowPointSelect: true,
	                cursor: 'pointer',
	                dataLabels: {
	                    enabled: true,
	                    format: '<b>{point.name}</b>: {point.percentage:.1f} %',
	                    style: {
	                        color: (Highcharts.theme && Highcharts.theme.contrastTextColor) || 'black'
	                    }
	                }
	            }
	        },

	        tooltip: {
	            headerFormat: '<span style="font-size:11px">{series.name}</span><br>',
	            pointFormat: '<span style="color:{point.color}">{point.name}</span>: <b>{point.y:.2f}%</b> of total<br/>'
	        },
	        series: 
	       	[{
	            name: 'Status',
	            colorByPoint: true,
	            data: lData
	        }]
	    });
	
	
	
	// second
	$('#chart-services').highcharts({
        chart: {
            plotBackgroundColor: null,
            plotBorderWidth: null,
            plotShadow: false,
            type: 'pie'
        },
        title: {
            text: 'Services'
        },
        tooltip: {
            pointFormat: '{series.name}: <b>{point.percentage:.1f}%</b>'
        },
        plotOptions: {
            pie: {
                allowPointSelect: true,
                cursor: 'pointer',
                dataLabels: {
                    enabled: false,
                    format: '<b>{point.name}</b>: {point.percentage:.1f} %',
                    style: {
                        color: (Highcharts.theme && Highcharts.theme.contrastTextColor) || 'black'
                    }
                },
                showInLegend: true
                
            }
        },
        legend: {
        	layout: "vertical",
        	labelFormat: '<b>{name}</b>: {percentage:.1f} %'
        },
        series: [{
            name: 'Services',
            colorByPoint: true,
            data: serviceData
        }]
    });
	$('#dpMonths').fdatepicker();
	$('#id_referrer').val("{{id_ref}}");
	
	
	 
});


</script>

{% endblock %}