{% extends 'referral/base.html' %}
{% load staticfiles%}

{% block content %}
<div class="callout warning">
    <div class="row">
	      <div class="large-6 columns">
	      		<label> Date period
  					<input type="text" name="date_period" value="" id="date_period"   />
				</label>
				<label> Province
				  <select>
				    <option value="prov1">Province 1</option>
				    <option value="prov2">Province 2</option>
				  </select>
				</label>
				<label> Referrers
				  <select>
				    <option value="prov1">Province 1</option>
				    <option value="prov2">Province 2</option>
				  </select>
				</label>
	      </div>
	</div>
</div>

<div class="row">
   	<div class="large-6 columns">
   	<div class="callout secondary">
   		<h3>Clients</h3>
   		
   		<div id="chart-client" style="width:100%; height:400px;"></div>
   		<br /><br />
   		<div id="chart-client-table">
   			<table>
   				<tr>
   					<td>Status</td>
   					<td>Percentage</td>
   					<td>Clients</td>
   				</tr>
   				{% for listTD in listObject %}
   				<tr>
   					{% for itemTD in listTD %}
   					<td> {{itemTD}}</td>
   					{% endfor %}
   				</tr>
   				{% endfor %}
   				<tr>
   					<td colspan="2" style="text-align: right;">Total Clients</td>
   					<td>{{numberClients}}</td>
   				</tr>
   			</table>
   		</div>
   	</div>
   	</div>
   	<div class="large-6 columns">
   	<div class="callout secondary">
   		<h3>Services delivered</h3>
   		<div id="chart-services" style="width:100%; height:400px;"></div>
   		<br /><br />
   		<div id="chart-services-table">
   			<table>
   				<tr>
   					<td>Services</td>
   					<td>Percentage</td>
   					<td>Number of services</td>
   				</tr>
   				{% for itemService in listObjectService %}
   				<tr>
   					{% for itemTD in itemService %}
   					<td> {{itemTD}}</td>
   					{% endfor %}
   				</tr>
   				{% endfor %}
   				<tr>
   					<td colspan="2" style="text-align: right;">Total Services</td>
   					<td>{{numberServices}}</td>
   				</tr>
   			</table>
   		</div>
   	</div>
   	</div>
</div>


<script src="http://code.highcharts.com/highcharts.js"></script>
<script src="https://code.highcharts.com/modules/exporting.js"></script>

<script src="https://code.highcharts.com/modules/data.js"></script>
<script src="https://code.highcharts.com/modules/drilldown.js"></script>
<script type="text/javascript">

var lData = [{{jsonData|safe}}] ;
var serviceData = [{{jsonService|safe}}] ;

$(function () {
	
	    // Create the chart
	    $('#chart-client').highcharts({
	    	chart: {
	            plotBackgroundColor: null,
	            plotBorderWidth: null,
	            plotShadow: false,
	            type: 'pie'
	        },
	        title: {
	            text: 'Number of clients per status'
	        },
	        subtitle: {
	            text: ''
	        },
	        plotOptions: {
	            series: {
	                dataLabels: {
	                    enabled: true,
	                    format: '{point.name}: {point.y:.1f}%'
	                }
	            },
	            pie: {
	                allowPointSelect: true,
	                cursor: 'pointer',
	                dataLabels: {
	                    enabled: true,
	                    format: '<b>{point.name}</b>: {point.percentage:.1f} %',
	                    style: {
	                        color: (Highcharts.theme && Highcharts.theme.contrastTextColor) || 'black'
	                    }
	                }
	            }
	        },

	        tooltip: {
	            headerFormat: '<span style="font-size:11px">{series.name}</span><br>',
	            pointFormat: '<span style="color:{point.color}">{point.name}</span>: <b>{point.y:.2f}%</b> of total<br/>'
	        },
	        series: 
	       	[{
	            name: 'Status',
	            colorByPoint: true,
	            data: lData
	        }]
	    });
	
	
	
	// second
	$('#chart-services').highcharts({
        chart: {
            plotBackgroundColor: null,
            plotBorderWidth: null,
            plotShadow: false,
            type: 'pie'
        },
        title: {
            text: 'Services'
        },
        tooltip: {
            pointFormat: '{series.name}: <b>{point.percentage:.1f}%</b>'
        },
        plotOptions: {
            pie: {
                allowPointSelect: true,
                cursor: 'pointer',
                dataLabels: {
                    enabled: true,
                    format: '<b>{point.name}</b>: {point.percentage:.1f} %',
                    style: {
                        color: (Highcharts.theme && Highcharts.theme.contrastTextColor) || 'black'
                    }
                }
            }
        },
        series: [{
            name: 'Services',
            colorByPoint: true,
            data: serviceData
        }]
    });
	
	$('#date_period').fdatepicker({
		 format: 'yyyy-mm-dd',
		 weekStart: 1
	 })
});


</script>

{% endblock %}